.work{
    margin-top: 50px;
    position: relative;
    text-align: center;
    height: 715px;
    background-color: $section-color;
    &__bg{
        display: none;
    }
    &__wrapper{
        position: absolute;
        top: 90px;
        @include display(flex, space-evenly,center);
        flex-wrap: wrap;
        gap: 50px;
    }
    &__title{
        padding-top: 68px;
        letter-spacing: -0.246154px;
        
        @extend %title__font;
        @include text(32px,36px);
        color: #FBFCFE;
    }
    &__text{
        width: 327px;
        padding-top: 16px;
        margin-bottom: 60px;
        @extend %sub__font;
        @include text(15px,28px);
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
    &__btn{
        padding: 16px 26px;
        text-decoration: none;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        border: 1px solid #FBFCFE;
        border-radius: 24px;

    }
}
@media only screen and (min-width:500px){
    .work{
        height: 600px;
        position: relative;
        &__bg{
            display: flex;
            position: absolute;
            left: 0;
        }
        &__img{
            display: none;
        }
        &__wrapper{
            padding-left: 40px;
            
        }
        &__title{
            padding-top: 270px;
            @include text(48px,56px);
        }
        &__text{
            width: 607px;
            padding-top: 0;
            padding-left: 75px;
        }
        &__btn{
            padding: 16px 32px;
        }
    }
}
@media only screen and (min-width:900px){
    .work{
        height: 450px;
        &__bg{
            display: none;
        }
        &__wrapper{
            padding-top: 88px;
            padding-left: 500px;
            vertical-align: middle;
        }
        &__title{
            padding-top: 90px;
            text-align: left;
        }
        &__text{
            width: 445px;
            padding-left: 0;
            text-align: left;
        }
        &__btn{
            position: absolute;
            margin-left: -45%;
            text-align: left;
        }
    }
}